<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>intergalacticTravelHackWitch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D74A7E231BEBF28B001D6623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D74A7E371BEBF28C001D6623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D74A7E421BEBF28C001D6623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
